.hero.featuredMovies {
  background-image: url("../../img/cover.svg");
  background-size: cover;
  background-position: top center;
  min-height: 30rem;
  color: #fff;
}
.featured-title {
  font-size: 2rem;
  line-height: 1;
}
.featured-overview {
  color: $gray;
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 40rem;
  text-align: justify;
}
