$black: #000000;
$white: #FFFFFF;
$primary-color: #E6B31E;
$accent-color: #b78500;
$gray: rgba(255, 255, 255, 0.7);
$gray-dark: #191919;
$gray-light: rgba(255, 255, 255, 0.6);
$gray-lighter: rgba(255, 255, 255, 0.12);